.canvas-container {
  display: block;
}

.canvas-container div {
  background-color: none;
  margin: 0 auto; /* Center the div horizontally */
}

.canvas-handler-container {
  line-height: 0; /* Remove extra space below the canvas */
}
