.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.canvas-container div {
  background-color: none;
}

.canvas-handler-container {
  line-height: 0; /* Remove extra space below the canvas */
}
